@import './reset.local.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

// html {
//   height: -webkit-fill-available;
// }
html,
body {
  height: 100vh;
  // height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Raleway', sans-serif;

  background: #3a6a6a;
}

#app {
  overflow: hidden;
  min-height: 100vh;
}
